.salad-maker-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salad-maker-container-left {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.desc {
    width: 95%;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: #7bb80113;
    border: none;
}
.desc:focus{
    font-size: 17px;
}

.salad-maker-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.salad-maker-input{
    width: 95%;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: #7bb80113;
    border: none;
}

.salad-maker-input:focus {
    font-size: 17px;
}

.salad-maker-control{
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.salad-maker-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-ing-link {
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #7bb801;
    padding: 7px;
    border-radius: 15px;
    font-size: 20px;
}

.more-ing-link:hover,
.more-ing-link:focus {
    background-color: #7bb801be;
}

.basket-container-saladMaker {
    width: 100%; 
    height: 97%; 
    display: flex; 
    flex-direction: column;
}

.basket-container-saladMaker2 {
    width: 100%; 
    height: 300px; 
    display: flex; 
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 905px) {
    .basket-container-saladMaker {
        display: none;
    }
    .salad-maker-container-left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    .basket-control {
        width: 100%;
        height: 240px;
        margin-top: 20px;
        overflow-y: auto;
        overflow-x: visible;   
}

} 

@media (min-width: 906px) {
    .basket-container-saladMaker2 {
        display: none;
    }
}