
.basket-drawer.open {
    transform: translateX(0);
    
}

.basket-drawer {
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.basket-drawer.open ul {
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.basket-drawer.open li {
    height: 2rem;
    display: flex;
    justify-content: center;
}

.basket-drawer.open a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    width: 140px;
}

